<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.shop.dao.ClassifyMapper">
  <resultMap id="BaseResultMap" type="com.neu.shop.pojo.Classify">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>

  <select id="loadAllFirstClass" resultMap="BaseResultMap">
    select  id,name from classify where father_id =0
  </select>

</mapper>